.container {
  max-width: 100%;
  padding: 0 15%;
  overflow: hidden;
}

.container2 {
  max-width: 100%;
  padding: 0 20%;
  margin-bottom: 8em;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.block {
  display: inline-block;
}

.cyaned {
  display: flex;
  align-items: center;
  gap: 8px;
}
.arrow {
  height: 26px;
  width: auto;
}

/*NAVBAR*/
.navbar {
  position: relative;
  top: 0;
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15%;
}

.img-fluid {
  height: 40px;
  width: auto;
}

.navbar li,
.navbar a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}

.nav-links a {
  padding: 12px;
  list-style: none;
  transition: color 0.6s;
}
.nav-links a:hover {
  color: rgba(45, 102, 187, 1);
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.contact-btn {
  width: 120px;
  padding: 6px 26px;
  background-color: var(--blue);
  border-style: none;
  border-radius: 6px;
  transition: background-color 0.6s;
  box-sizing: inset 0 0 0 0 #f9e506;
  transition: ease-out 0.3s;
  outline: none;
}

.contact-btn:hover {
  box-shadow: inset 120px 0 0 0 #1e437b;
  cursor: pointer;
}

/*SHOWCASE*/
#intro {
  height: 160px;
  background-color: var(--dark-blue);
  position: relative; /*in case i need to position anything absolute within it*/
  margin-bottom: 20em;
}

#intro::before,
#intro::after {
  content: "";
  position: absolute;
  height: 170px;
  bottom: -84px;
  right: 0;
  left: 0;
  background: var(--bg-white);
  transform: skewY(5deg);
  -webkit-transform: skewY(5deg); /*for chrome and safari*/
  -moz-transform: skewY(5deg); /*for mozilla*/
  -ms-transform: skewY(5deg); /*for internet explorer*/
}

.intro-info,
.contact-info {
  padding-top: 5em;
}

.intro-text,
.contact-info {
  flex-basis: 45%;
  position: relative;
  z-index: 1;
}

#pp {
  height: 260px;
  width: auto;
  position: relative;
  z-index: 9998;
}

/*PROJECTS*/
#projects {
  padding: 4em 0;
  margin-bottom: 6em;
}

#projects .arrow {
  transform: rotate(-90deg);
}

.project-img {
  height: 200px;
  width: auto;
}

/*ABOUT*/
#about {
  background-color: var(--dark-blue);
  padding: 4em 0;
}

#pp2 {
  border-radius: 8px;
  height: 380px;
  width: 250px;
  position: relative;
  z-index: 9998;
}

.about-text {
  color: var(--white);
}

/*CONTACT*/
#contact {
  height: 30px;
  background-color: var(--dark-blue);
  position: relative; /*in case i need to position anything absolute within it*/
  margin-bottom: 22em;
}

#contact::before,
#contact::after {
  content: "";
  position: absolute;
  height: 200px;
  bottom: -100px;
  right: 0;
  left: 0;
  background: var(--bg-white);
  transform: skewY(6deg);
  -webkit-transform: skewY(6deg);
  -moz-transform: skewY(6deg);
  -ms-transform: skewY(6deg);
}

/*FOOTER*/
#footer {
  height: 100px;
  background-color: var(--dark-blue);
}

#footer > div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.icons img {
  margin-right: 2em;
  height: 36px;
  width: auto;
}

.owner {
  color: var(--white);
}
