:root {
  --red: #ff4747;
}

html {
  scrollbar-color: hsl(0, 50%, 30%) #555;
}

/*SECTION HEADINGS*/
.section-title {
  color: var(--red);
  font-size: 46px;
  margin-bottom: 40px;
}

.section-item {
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--red);
  font-size: 28px;
}

/* SHOWCASE */

#showcase {
  background: rgb(255, 79, 79);
  background: linear-gradient(
    90deg,
    rgba(255, 79, 79, 1) 0%,
    rgba(255, 71, 71, 1) 50%,
    rgba(179, 47, 47, 1) 100%
  );
  color: white;
  padding: 3% 20%;
  margin-top: 50px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-image {
  animation: slideInFromRight 1s ease-in;
}

#showcase h2 {
  font-weight: lighter;
}

#showcase h1 {
  font-weight: bold;
  font-size: 64px;
}

#showcase p {
  width: 300px;
  font-size: 18px;
}

#thumbnail {
  height: 400px;
  width: auto;
}

/*SPECS*/

#specs {
  background-color: hsl(0, 0%, 90%);
  padding: 5% 20%;
}

#specs h2 {
  color: var(--red);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.one {
  grid-area: 1 / 1 / 2 / 4;
}
.two {
  grid-area: 2 / 1 / 3 / 4;
}
.three {
  grid-area: 3 / 1 / 4 / 2;
  text-align: center;
}
.four {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
}
.five {
  grid-area: 3 / 3 / 4 / 4;
  text-align: center;
}

/*DISPLAY*/
#display {
  padding: 3% 20%;
  background: rgb(255, 79, 79);
  background: linear-gradient(
    90deg,
    rgba(255, 79, 79, 1) 0%,
    rgba(255, 71, 71, 1) 50%,
    rgba(179, 47, 47, 1) 100%
  );
}

#display-thumbnail {
  display: block;
  height: auto;
  width: 100%;
}

/*RESEARCH*/
.graphs {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.graphs img {
  margin: 5px;
  width: 420px;
  height: auto;
}

blockquote {
  max-width: 520px;
  margin: auto;
  padding: 30px 50px;
  background-color: #f0eecfda;
}

.findings {
  padding: 0 10em;
}

/*DEFINE*/
.personas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.personas img {
  margin: 5px;
  max-width: 560px;
  height: auto;
}

.journey img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 760px;
  height: auto;
}

/*IA*/
.sitemap img {
  display: block;
  margin: auto;
  max-width: 600px;
  height: auto;
}

.user-flow img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/*DESIGN*/
.sketches img {
  display: block;
  margin: auto;
  max-width: 520px;
  height: auto;
}

.lofi img {
  display: block;
  margin: auto;
  max-width: 600px;
  height: auto;
}

.palette img {
  display: block;
  margin: auto;
  max-width: 520px;
  height: auto;
}

.ui img {
  display: block;
  margin: auto;
  max-width: 900px;
  height: auto;
}

.final img {
  display: block;
  margin: auto;
  max-width: 900px;
  height: auto;
}

/*ANIMATIONS*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/*Mobile*/
@media (max-width: 980px) {
  html,
  body {
    overflow-x: hidden;
  }

  .navbar {
    position: relative;
    padding: 10px;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-links {
    display: flex;
  }

  .nav-links li {
    padding: 2px;
  }

  .contact-btn {
    display: none;
  }

  #showcase {
    margin: 0;
    padding-top: 80px;
  }

  .flex {
    flex-direction: column;
  }

  .showcase-text {
    margin: 20px 0;
  }

  #thumbnail {
    height: 280px;
    width: auto;
  }

  .graphs img,
  .personas img,
  .journey img,
  .sitemap img,
  .user-flow img,
  .sketches img,
  .lofi img,
  .palette img,
  .final img {
    max-width: 100%;
    height: auto;
  }

  .noHover {
    pointer-events: none;
  }

  .findings {
    padding: 0;
  }
}
