@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap");

/*NAVBAR*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20%;
}

#logo {
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  cursor: pointer;
}

.navbar li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  text-decoration: none;
}

.nav-links a {
  padding: 12px;
  list-style: none;
  transition: color 0.6s;
}
.nav-links a:hover {
  color: rgba(45, 102, 187, 1);
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.contact-btn {
  width: 120px;
  padding: 6px 26px;
  background-color: var(--blue);
  border-style: none;
  border-radius: 6px;
  transition: background-color 0.6s;
  box-sizing: inset 0 0 0 0 #f9e506;
  transition: ease-out 0.3s;
  outline: none;
}

.contact-btn:hover {
  box-shadow: inset 120px 0 0 0 #1e437b;
  cursor: pointer;
}

/* SHOWCASE */

#showcase {
  background: rgb(255, 79, 79);
  background: linear-gradient(
    90deg,
    rgba(255, 79, 79, 1) 0%,
    rgba(255, 71, 71, 1) 50%,
    rgba(179, 47, 47, 1) 100%
  );
  color: white;
  padding: 3% 20%;
  margin-top: 50px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-image {
  animation: slideInFromRight 1s ease-in;
}

#showcase h2 {
  font-weight: lighter;
}

#showcase h1 {
  font-weight: bold;
  font-size: 64px;
}

#showcase p {
  width: 300px;
  font-size: 18px;
}

#thumbnail {
  height: 400px;
  width: auto;
}

/*SPECS*/

#specs {
  background-color: #ebebeb;
  padding: 5% 20%;
}

#specs h2 {
  color: var(--red);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.one {
  grid-area: 1 / 1 / 2 / 4;
}
.two {
  grid-area: 2 / 1 / 3 / 4;
}
.three {
  grid-area: 3 / 1 / 4 / 2;
  text-align: center;
}
.four {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
}
.five {
  grid-area: 3 / 3 / 4 / 4;
  text-align: center;
}

/*DISPLAY*/
#display {
  padding: 3% 20%;
  background: rgb(255, 79, 79);
  background: linear-gradient(
    90deg,
    rgba(255, 79, 79, 1) 0%,
    rgba(255, 71, 71, 1) 50%,
    rgba(179, 47, 47, 1) 100%
  );
}

#display > .flex {
  justify-content: center;
  align-items: center;
}

#display img {
  display: block;
  margin: auto;
  height: 700px;
  width: auto;
}

/*RESEARCH*/
#research {
  margin-top: 50px;
  padding: 3% 20%;
  background-color: var(--bg-white);
}

#research div {
  margin: 40px 0;
}

.graphs {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.graphs img {
  margin: 5px;
  width: 420px;
  height: auto;
}

blockquote {
  min-width: fit-content;
  max-width: 520px;
  margin: auto;
  padding: 30px 50px;
  background-color: #f0eecfda;
}

/*DEFINE*/
#define {
  margin-top: 50px;
  padding: 3% 20%;
}

#define div {
  margin: 40px 0;
}

.personas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.personas img {
  margin: 5px;
  max-width: 560px;
  height: auto;
}

.journey img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 760px;
  height: auto;
}

/*IA*/
#ia {
  margin-top: 50px;
  padding: 3% 20%;
}

#ia div {
  margin: 40px 0;
}

.sitemap img {
  display: block;
  margin: auto;
  max-width: 600px;
  height: auto;
}

.user-flow img {
  display: block;
  margin: auto;
  max-width: 920px;
  height: auto;
}

/*DESIGN*/
#design {
  margin-top: 50px;
  padding: 3% 20%;
}

#design div {
  margin: 40px 0;
}

.sketches img {
  display: block;
  margin: auto;
  max-width: 520px;
  height: auto;
}

.lofi img {
  display: block;
  margin: auto;
  max-width: 600px;
  height: auto;
}

.palette img {
  display: block;
  margin: auto;
  max-width: 520px;
  height: auto;
}

.ui img {
  display: block;
  margin: auto;
  max-width: 900px;
  height: auto;
}

.final img {
  display: block;
  margin: auto;
  max-width: 900px;
  height: auto;
}

/*ANIMATIONS*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/*Mobile*/
@media (max-width: 780px) {
  .navbar {
    position: relative;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }

  .nav-links li {
    padding: 5px;
  }

  .contact-btn {
    display: none;
  }

  #showcase {
    margin: 0%;
  }

  .flex {
    flex-direction: column;
  }

  .showcase-text {
    margin: 20px 0;
  }

  #thumbnail {
    height: 280px;
    width: auto;
  }

  #display-img {
    position: relative;
    height: auto;
    max-width: 100%;
  }
}
