@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap");

:root {
  --dark: #24252a;
  --dark-blue: hsl(223, 41%, 15%);
  --cyan: #2eb9a8;
  --bg-white: #f5f5f5;
  --white: #edf0f1;
  --blue: rgba(45, 102, 187, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-white);
  font-family: "Roboto";
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.4rem;
}

p,
ul,
ol {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.section {
  margin-top: 5em;
  padding: 3% 20%;
  background-color: var(--bg-white);
}

.section div {
  margin: 3em 0;
}

/*GO TOP BUTTON*/
#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0.4); /* Set a background color */
  color: var(--white); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: hsl(223, 41%, 25%, 0.8);
}
