:root {
  --orange: rgb(240, 80, 35);
}

html {
  scrollbar-color: var(--orange) #555;
}

/* SHOWCASE */
#showcase {
  background: rgb(240, 80, 35);
  background: linear-gradient(
    90deg,
    rgba(240, 80, 35, 1) 0%,
    rgba(240, 80, 35, 1) 50%,
    rgba(240, 80, 35) 100%
  );
  color: white;
  padding: 3% 20%;
  margin-top: 50px;
}

.showcase-text {
  animation: slideInFromLeft 2s ease-in-out;
}

.showcase-image {
  animation: slideInFromRight 2s ease-in-out;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-image {
  animation: slideInFromRight 1s ease-in;
}

#showcase h2 {
  font-weight: lighter;
}

#showcase h1 {
  font-weight: bold;
  font-size: 64px;
}

#showcase p {
  width: 300px;
  font-size: 18px;
}

#thumbnail {
  height: 380px;
  width: auto;
}

/*SPECS*/
#specs {
  background-color: hsl(0, 0%, 90%);
  padding: 5% 20%;
}

#specs h2 {
  color: var(--orange);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 2em;
}

.one {
  grid-area: 1 / 1 / 2 / 4;
}
.two {
  grid-area: 2 / 1 / 3 / 2;
}
.three {
  grid-area: 2 / 2 / 3 / 3;
}
.four {
  grid-area: 2 / 3 / 3 / 4;
}

.two,
.three,
.four {
  margin: auto;
  text-align: center;
}

/*DISPLAY*/
.display-ui {
  display: flex;
}

.ui-box {
  background: var(--orange);
  max-width: 50%;
  padding: 5% 0;
}

.ui-box img {
  display: block;
  height: auto;
  width: 85%;
  margin: auto;
}

.description {
  max-width: 50%;
  margin: auto;
  padding: 0 100px;
}

.description h2 {
  color: var(--orange);
}

/*ANIMATIONS*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/*Mobile*/
@media (max-width: 980px) {
  html,
  body {
    overflow-x: hidden;
  }

  .navbar {
    position: relative;
    padding: 10px;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav-links {
    display: flex;
  }
  .nav-links li {
    padding: 2px;
  }
  .contact-btn {
    display: none;
  }

  #showcase {
    margin: 0;
    padding-top: 60px;
  }

  #specs {
    padding-top: 80px;
  }

  .flex {
    flex-direction: column;
  }

  .showcase-text {
    margin: 20px 0;
  }

  .display-ui {
    flex-direction: column;
    margin-bottom: 10em;
  }

  .ui-box {
    background: var(--orange);
    max-width: 100%;
    padding: 5% 0;
  }

  .description {
    max-width: 100%;
    margin: auto;
    padding: 5% 10%;
  }

  #discover,
  #publish {
    flex-direction: column-reverse;
  }
}
